{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/select.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/jquery.modal.min.css' %}"/>
    <link rel="stylesheet" href="{% static 'css/datatables.min.css' %}"/>

    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-slider/10.6.2/css/bootstrap-slider.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-slider/10.6.2/css/bootstrap-slider.min.css">
    <style>
        .search-field {
            float: left !important;
            padding: 5px 0 0 0 !important;
        }

        .filter-input {
            float: right !important;
        }

        #search_fiels .col-md-4 {
            margin-top: 15px;
        }
        .form-group input[type="radio"] {
            display: none;
        }

        .form-group input[type="radio"] + .btn-group > label span {
            width: 20px;
        }

        .form-group input[type="radio"] + .btn-group > label span:first-child {
            display: none;
        }
        .form-group input[type="radio"] + .btn-group > label span:last-child {
            display: inline-block;
        }

        .form-group input[type="radio"]:checked + .btn-group > label span:first-child {
            display: inline-block;
        }
        .form-group input[type="radio"]:checked + .btn-group > label span:last-child {
            display: none;
        }
        .slidecontainer {
          width: 100%;
        }

        .form-group input[type="checkbox"] {
            display: none;
        }

        .form-group input[type="checkbox"] + .btn-group > label span {
            width: 20px;
        }

        .form-group input[type="checkbox"] + .btn-group > label span:first-child {
            display: none;
        }
        .form-group input[type="checkbox"] + .btn-group > label span:last-child {
            display: inline-block;
        }

        .form-group input[type="checkbox"]:checked + .btn-group > label span:first-child {
            display: inline-block;
        }
        .form-group input[type="checkbox"]:checked + .btn-group > label span:last-child {
            display: none;
        }
        .slidecontainer {
          width: 100%;
        }

        .slider {
          -webkit-appearance: none;
          width: 100%;
          height: 25px;
          background: #d3d3d3;
          outline: none;
          opacity: 0.7;
          -webkit-transition: .2s;
          transition: opacity .2s;
        }

        .slider:hover {
          opacity: 1;
        }

        .slider::-webkit-slider-thumb {
          -webkit-appearance: none;
          appearance: none;
          width: 25px;
          height: 25px;
          background: #4CAF50;
          cursor: pointer;
        }

        .slider::-moz-range-thumb {
          width: 25px;
          height: 25px;
          background: #4CAF50;
          cursor: pointer;
        }
    </style>
</head>
<body>

    <div class="header col-md-15 offset-md-5 mt-3">
        <h1>Centris Properties</h1>
    </div>

    <div id="demo" class="display mt-3 mb-3">
        <form class="search-results" action="search" method="post" name="search">
            {% csrf_token %}
            <div class="search-form" id="search-form">
{#                <div class="search-section">#}
{#                    <div class="container">#}
{#                        <form action="#" method="post" novalidate="novalidate">#}
{#                            <div class="row">#}
{#                                <div class="col-lg-12">#}
{#                                    <div class="row">#}
{#                                        <div class="col-lg-9 col-md-5 col-sm-12 p-6">#}
{#                                            <input type="text" class="form-control search-slt" placeholder="Enter Pickup City">#}
{#                                        </div>#}
{#                                        <div class="col-lg-3 col-md-3 col-sm-12 p-0">#}
{#                                            <button type="button" id="search" class="btn btn-success wrn-btn">Search</button>#}
{#                                        </div>#}
{#                                    </div>#}
{#                                </div>#}
{#                            </div>#}
{#                        </form>#}
{#                    </div>#}
{#                </div>#}
    {#            <div class="filters-list" id="freeform-filters">#}
    {#                <form>#}
    {#                    <div>#}
    {#                          <input type="range" min="1" max="100" value="50" class="slider" id="myRange">#}
    {##}
    {#                    </div>#}
    {#                    <br />#}
    {#                    <div id="slider"></div>#}
    {#                </form>#}
    {#            </div>#}
                <div class="business-method">
                    <div id="container-basic-criterias" class="col-md-15 offset-md-2 mt-3">
                        <div class="form-group col-md-6" id="commercial">
                            <input type="radio" name="centris_title_business" class="centris_title" value="Commercial" id="fancy-checkbox-success" autocomplete="off" checked="checked"/>
                            <div class="[ btn-group ]">
                                <label for="fancy-checkbox-success" class="[ btn btn-success ]">
                                    <span class="[ glyphicon glyphicon-ok ]"></span>
                                    <span> </span>
                                </label>
                                <label for="fancy-checkbox-success" class="[ btn btn-default active ]">
                                    Commercial
                                </label>
                            </div>
                        </div>

                        <div class="form-group col-md-6" id="residential">
                            <input type="radio" name="centris_title_business" id="fancy-checkbox-info" value="Residential" autocomplete="off" />
                            <div class="[ btn-group ]">
                                <label for="fancy-checkbox-info" class="[ btn btn-success ]">
                                    <span class="[ glyphicon glyphicon-ok ]"></span>
                                    <span> </span>
                                </label>
                                <label for="fancy-checkbox-info" class="[ btn btn-default active ]">
                                    Residential
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="real_estate_pro">
                    <div class="col-md-15 offset-md-2 mt-3" id="container-basic">
                        <div class="form-group col-md-6 " id="sale">
                            <input type="radio" name="centris_title_for" id="fancy-checkbox-warning" value="sale" autocomplete="off" checked="checked"/>
                            <div class="[ btn-group ]">
                                <label for="fancy-checkbox-warning" class="[ btn btn-success ]">
                                    <span class="[ glyphicon glyphicon-ok ]"></span>
                                    <span> </span>
                                </label>
                                <label for="fancy-checkbox-warning" class="[ btn btn-default active ]">
                                    Sale
                                </label>
                            </div>
                        </div>

                        <div class="form-group col-md-6" id="rent">
                            <input type="radio" name="centris_title_for" id="fancy-checkbox-primary" value="rent" autocomplete="off" />
                            <div class="[ btn-group ]">
                                <label for="fancy-checkbox-primary" class="[ btn btn-success ]">
                                    <span class="[ glyphicon glyphicon-ok ]"></span>
                                    <span> </span>
                                </label>
                                <label for="fancy-checkbox-primary" class="[ btn btn-default active ]">
                                    Rent
                                </label>
                            </div>
                        </div>
                    </div>
                </div>

                <a href="#" class="link-more-below col-md-2 offset-md-5 mt-3" id="btn-advanced-criterias">Advanced Search</a>
            </div>
            <div class="advanced-search" id="advanced-search">
                <div class="fieldset-border">
                    <div class="Property type col-md-12 offset-md-1 mt-3" id="property-search-field" style="display: none">Property Type</div>
                    <div class="PropertyTypeSection" id="container-fieldset">
                        <div class="control-group">
                            <div class="controls dynamic-control">
                                <div class="controls-residential-sale col-md-12 offset-md-0 mt-3" id="controls-residential-sale" style="display: none">
                                    <div class="custom-control custom-checkbox custom-control-inline offset-md-2 mt-3">
                                      <input type="checkbox" name="centris_title" value="House" class="custom-control-input" id="single-family-home">
                                      <label class="custom-control-label" for="single-family-home">Single Family Home</label>
                                    </div>
                                    <div class="custom-control custom-checkbox custom-control-inline">
                                      <input type="checkbox" name="centris_title" value="Condo" class="custom-control-input" id="Condo">
                                      <label class="custom-control-label" for="Condo">Condo</label>
                                    </div>

                                    <div class="custom-control custom-checkbox custom-control-inline">
                                      <input type="checkbox" name="centris_title" value="Loft / Studio" class="custom-control-input" id="loft-studio">
                                      <label class="custom-control-label" for="loft-studio">Loft/Studio</label>
                                    </div>

                                    <div class="custom-control custom-checkbox custom-control-inline">
                                      <input type="checkbox" class="custom-control-input" name="centris_title" value="Townhouse" id="condominium-home">
                                      <label class="custom-control-label" for="condominium-home">Condominium Home</label>
                                    </div>

                                    <div class="custom-control custom-checkbox custom-control-inline">
                                      <input type="checkbox" class="custom-control-input" name="centris_title" value="Plex" id="plex">
                                      <label class="custom-control-label" for="plex">Plex</label>
                                    </div>


                                    <div class="custom-control custom-checkbox custom-control-inline">
                                      <input type="checkbox" class="custom-control-input" name="intergenerational" id="intergenerational">
                                      <label class="custom-control-label" for="intergenerational">Intergenerational</label>
                                    </div>

                                    <div class="custom-control custom-checkbox custom-control-inline">
                                      <input type="checkbox" class="custom-control-input" name="centris_title" value="Mobile" id="mobile-home">
                                      <label class="custom-control-label" for="mobile-home">Mobile Home</label>
                                    </div>


                                    <div class="custom-control custom-checkbox custom-control-inline">
                                      <input type="checkbox" class="custom-control-input" id="hobby-farm" name="centris_title" value="Hobby farm">
                                      <label class="custom-control-label" for="hobby-farm">Hobby Farm</label>
                                    </div>

                                    <div class="custom-control custom-checkbox custom-control-inline">
                                      <input type="checkbox" class="custom-control-input" name="centris_title" value="Lot" id="lot">
                                      <label class="custom-control-label" for="lot">Lot</label>
                                    </div>
                                </div>
                                <div class="controls-commercial-sale col-md-12 offset-md-0 mt-3" id="controls-commercial-sale" style="display: none">
                                    <div class="custom-control custom-checkbox custom-control-inline offset-md-2 mt-3">
                                      <input type="checkbox" name="centris_title" value="" class="custom-control-input" id="multi-family">
                                      <label class="custom-control-label" for="multi-family">Multi-Family</label>
                                    </div>
                                    <div class="custom-control custom-checkbox custom-control-inline">
                                      <input type="checkbox" class="custom-control-input" id="office">
                                      <label class="custom-control-label" for="office">Office</label>
                                    </div>
                                    <div class="custom-control custom-checkbox custom-control-inline">
                                      <input type="checkbox" class="custom-control-input" id="industrial">
                                      <label class="custom-control-label" for="industrial">Industrial</label>
                                    </div>
                                    <div class="custom-control custom-checkbox custom-control-inline">
                                      <input type="checkbox" class="custom-control-input" id="commercial">
                                      <label class="custom-control-label" for="commercial">Commercial</label>
                                    </div>
                                    <div class="custom-control custom-checkbox custom-control-inline">
                                      <input type="checkbox" class="custom-control-input" id="accommodation">
                                      <label class="custom-control-label" for="accommodation">Accommodation</label>
                                    </div>
                                    <div class="custom-control custom-checkbox custom-control-inline">
                                      <input type="checkbox" class="custom-control-input" id="agricultural">
                                      <label class="custom-control-label" for="agricultural">Agricultural</label>
                                    </div>
                                    <div class="custom-control custom-checkbox custom-control-inline">
                                      <input type="checkbox" class="custom-control-input" id="lot">
                                      <label class="custom-control-label" for="lot">lot</label>
                                    </div>
                                    <div class="custom-control custom-checkbox custom-control-inline">
                                      <input type="checkbox" class="custom-control-input" id="business">
                                      <label class="custom-control-label" for="business">Business</label>
                                    </div>
                                </div>
                                <div class="controls-commercial-rent col-md-12 offset-md-0 mt-3" id="controls-commercial-rent" style="display: none">
                                    <div class="custom-control custom-checkbox custom-control-inline offset-md-2 mt-3">
                                      <input type="checkbox" class="custom-control-input" id="office">
                                      <label class="custom-control-label" for="office">Office</label>
                                    </div>
                                    <div class="custom-control custom-checkbox custom-control-inline">
                                      <input type="checkbox" class="custom-control-input" id="industrial">
                                      <label class="custom-control-label" for="industrial">Industrial</label>
                                    </div>
                                    <div class="custom-control custom-checkbox custom-control-inline">
                                      <input type="checkbox" class="custom-control-input" id="commercial">
                                      <label class="custom-control-label" for="commercial">Commercial</label>
                                    </div>
                                    <div class="custom-control custom-checkbox custom-control-inline">
                                      <input type="checkbox" class="custom-control-input" id="agricultural">
                                      <label class="custom-control-label" for="agricultural">Agricultural</label>
                                    </div>
                                    <div class="custom-control custom-checkbox custom-control-inline">
                                      <input type="checkbox" class="custom-control-input" id="lot">
                                      <label class="custom-control-label" for="lot">Lot</label>
                                    </div>
                                    <div class="custom-control custom-checkbox custom-control-inline">
                                      <input type="checkbox" class="custom-control-input" id="business">
                                      <label class="custom-control-label" for="business">Business</label>
                                    </div>
                                </div>
                                <div class="controls-residential-rent col-md-12 offset-md-0 mt-3" id = "controls-residential-rent" style="display: none">
                                    <div class="custom-control custom-checkbox custom-control-inline  offset-md-2 mt-3">
                                      <input type="checkbox" class="custom-control-input" id="single-family-home">
                                      <label class="custom-control-label" for="single-family-home">Single-Family Home</label>
                                    </div>
                                    <div class="custom-control custom-checkbox custom-control-inline">
                                      <input type="checkbox" class="custom-control-input" id="condo-apartment">
                                      <label class="custom-control-label" for="condo-apartment">Condo/Apartment</label>
                                    </div>
                                    <div class="custom-control custom-checkbox custom-control-inline">
                                      <input type="checkbox" class="custom-control-input" id="loft-studio">
                                      <label class="custom-control-label" for="loft-studio">Loft/Studio</label>
                                    </div>
                                    <div class="custom-control custom-checkbox custom-control-inline">
                                      <input type="checkbox" class="custom-control-input" id="condominium-home">
                                      <label class="custom-control-label" for="condominium-home">Condominium Home</label>
                                    </div>
                                    <div class="custom-control custom-checkbox custom-control-inline">
                                      <input type="checkbox" class="custom-control-input" id="intergenerational">
                                      <label class="custom-control-label" for="intergenerational">Intergenerational</label>
                                    </div>
                                    <div class="custom-control custom-checkbox custom-control-inline">
                                      <input type="checkbox" class="custom-control-input" id="mobile-home">
                                      <label class="custom-control-label" for="mobile-home">Mobile Home</label>
                                    </div>
                                    <div class="custom-control custom-checkbox custom-control-inline">
                                      <input type="checkbox" class="custom-control-input" id="hobby-farm">
                                      <label class="custom-control-label" for="hobby-farm">Hobby Farm</label>
                                    </div>
                                    <div class="custom-control custom-checkbox custom-control-inline">
                                      <input type="checkbox" class="custom-control-input" id="lot">
                                      <label class="custom-control-label" for="lot">Lot</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <input type="submit" name="search" class="btn btn-success col-md-3 mt-3 offset-md-4 mb-3">
        </form>


        <table id="example" class="display" style="width:100%">
            <thead class="bg-success">
            <tr class="info">
                <th class="number" scope="col">Number</th>
                <th scope="col">Title</th>
                <th scope="col">Address</th>
                <th scope="col">Price</th>
                <th scope="col">Workscore</th>
                <th scope="col">Agent Name</th>
                <th scope="col">Rooms</th>
                <th scope="col">Geo Cordinates</th>
                <th scope="col">Description</th>
                <th scope="col">Built Year</th>
                <th scope="col">Construction Year</th>
                <th scope="col">Available Area</th>
                <th scope="col">Lot Area</th>
                <th scope="col">Operation Type</th>
                <th scope="col">Fireplace/Stove</th>
                <th scope="col">Additional Features</th>
                <th scope="col">Gross Revenue</th>
                <th scope="col">Main Unit</th>
                <th scope="col">Residential Units</th>
                <th scope="col">Number of Unit</th>
                <th scope="col">Parking</th>
                <th scope="col">Building Area</th>
                <th scope="col">Use of Property</th>
                <th scope="col">Zoning</th>
                <th scope="col">Residential Unit</th>
                <th scope="col">Business Type</th>
                <th scope="col">Intergenerational</th>
                <th scope="col">Building Style</th>
                <th scope="col">Pool</th>
                <th scope="col">Condominium</th>
                <th scope="col">Gross Area</th>
                <th scope="col">Net Area</th>
                <th scope="col">Active</th>
                <th scope="col">Action</th>
            </tr>
            </thead>
            <tbody>

            {% for item in centris %}
                <tr>
                    <td class="pid">{{ item.pid }}</td>
                    <td class="centris_title">{{ item.centris_title }}</td>
                    <td class="address">{{ item.address }}</td>
                    <td class="price">{{ item.price }}</td>
                    <td class="workscore">{{ item.workscore }}</td>
                    <td class="agent_name">{{ item.agent_name }}</td>
                    <td class="beds_baths">{{ item.beds_baths }}</td>
                    <td class="geo_cordinates">{{ item.geo_cordinates }}</td>
                    <td class="description">{{ item.description }}</td>
                    <td class="built_year">{{ item.built_year }}</td>
                    <td class="construction_year">{{ item.construction_year }}</td>
                    <td class="available_area">{{ item.available_area }}</td>
                    <td class="lot_area">{{ item.lot_area }}</td>
                    <td class="operation_type">{{ item.operation_type }}</td>
                    <td class="fireplace_stove">{{ item.fireplace_stove }}</td>
                    <td class="additional_features">{{ item.additional_features }}</td>
                    <td class="potential_gross_revenue">{{ item.potential_gross_revenue }}</td>
                    <td class="main_unit">{{ item.main_unit }}</td>
                    <td class="residential_units">{{ item.residential_units }}</td>
                    <td class="unit_number">{{ item.unit_number }}</td>
                    <td class="parking">{{ item.parking }}</td>
                    <td class="building_area">{{ item.building_area }}</td>
                    <td class="use_property">{{ item.use_property }}</td>
                    <td class="zoning">{{ item.zoning }}</td>
                    <td class="residential_unit">{{ item.residential_unit }}</td>
                    <td class="business_type">{{ item.business_type }}</td>
                    <td class="intergenerational">{{ item.intergenerational }}</td>
                    <td class="building_style">{{ item.building_style }}</td>
                    <td class="pool">{{ item.pool }}</td>
                    <td class="condominium">{{ item.condominium }}</td>
                    <td class="gross_area">{{ item.gross_area }}</td>
                    <td class="net_area">{{ item.net_area }}</td>
                    <td class="active">{{ item.property_current_active }}</td>
                    <td>
                        <a href='#' class="delete btn btn-danger" id="{{ item.id }}"> Delete</a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>

        </table>
    </div>
    <div class="pagination">

        {% if centris.has_previous %}
            <a href="?page=1" class="btn btn-outline-warning">First</a>
            <a href="?page={{ centris.previous_page_number }}" class="btn btn-outline-warning">Previous</a>
        {% endif %}

        <span class="btn btn-light">{{ centris.number }}</span>
        <span class="btn btn-light">of</span>
        <span class="btn btn-light">{{ centris.paginator.num_pages }}</span>

        {% if centris.has_next %}
            <a href="?page={{ centris.next_page_number }}" class="btn btn-outline-warning">Next</a>
            <a href="?page={{ centris.paginator.num_pages }}" class="btn btn-outline-warning">Last</a>
        {% endif %}

    </div>

{#    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>#}
    <script src="{% static 'js/jquery.slim.min.js' %}"></script>
    <script src="{% static 'js/popper.min.js' %}"></script>
    <script src="{% static 'js/jquery.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/jquery-3.0.0.min.js' %}"></script>
    <script src="{% static 'js/jquery.modal.min.js' %}"></script>
{#    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>#}
{#    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>#}
{#    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>#}
{#    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>#}
{#    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-slider/10.6.2/bootstrap-slider.js"></script>#}
    <script src="{% static 'js/bootstrap-slider.min.js' %}"></script>
    <script src="{% static 'js/script.js' %}"></script>
{#    <script>#}
{##}
{#        $(document).ready(function(){#}
{#          $(".add-filter").click(function(e){#}
{#            var label = $(this).attr("id");#}
{#            if (label === 'price')#}
{#                $("#search_fiels").append(`<div class="col-md-4"><span class="search-field"> ${label} &#58;</span><input type="text" class="filter_${label} filter-input" name="${label}" id="col${label}_filter" placeholder="from"></div><div class="col-md-4"><input type="text" class="filter_${label} filter-input" name="${label}" id="col${label}_filter" placeholder="to"></div>`);#}
{#            else if (label === 'centris_title')#}
{#                $("#search_fiels").append(`<div class="col-md-6"><input type="checkbox" class="filter_${label}" name="${label}" id="col${label}_filter" value="Commercial">Commercial</div><div class="col-md-6"><input type="checkbox" class="filter_${label}" name="${label}" id="col${label}_filter" value="Residential">Residential</div><div class="col-md-6"><input type="checkbox" class="filter_${label}" name="${label}" id="col${label}_filter" value="sale">sale</div><div class="col-md-6"><input type="checkbox" class="filter_${label}" name="${label}" id="col${label}_filter" value="rent">rent</div></div>`);#}
{#            else#}
{#                $("#search_fiels").append(`<div class="col-md-4"><span class="search-field"> ${label} &#58;</span><input type="text" class="filter_${label} filter-input" name="${label}" id="col${label}_filter" placeholder="search.."></div>`);#}
{##}
{#            $("#submit").show();#}
{#          });#}
{#        });#}
{#        function columnFilterKeyUp(label) {#}
{##}
{#            var value = $('#col'+label+'_filter').val();#}
{#            console.log(label, value)#}
{#            filterColumn(label, value);#}
{#        }#}
{#        $(document).ready(function(){#}
{#          if($(".filter_centris_title").prop("checked")===true){#}
{#            var label = $(this).attr("value");#}
{#            console.log('label');#}
{#            if (label === 'Commercial')#}
{#                $("#search_fiels").append(`<div class="col-md-6"><input type="checkbox" class="filter_${label}" name="${label}" id="col${label}_filter" value="Commercial">Commercial</div><div class="col-md-6"><input type="checkbox" class="filter_${label}" name="${label}" id="col${label}_filter" value="Residential">Residential</div><div class="col-md-6"><input type="checkbox" class="filter_${label}" name="${label}" id="col${label}_filter" value="sale">sale</div><div class="col-md-6"><input type="checkbox" class="filter_${label}" name="${label}" id="col${label}_filter" value="rent">rent</div></div>`);#}
{#            else if (label === 'Residential')#}
{#                $("#search_fiels").append(`<div class="col-md-6"><input type="checkbox" class="filter_${label}" name="${label}" id="col${label}_filter" value="Commercial">Commercial</div><div class="col-md-6"><input type="checkbox" class="filter_${label}" name="${label}" id="col${label}_filter" value="Residential">Residential</div><div class="col-md-6"><input type="checkbox" class="filter_${label}" name="${label}" id="col${label}_filter" value="sale">sale</div><div class="col-md-6"><input type="checkbox" class="filter_${label}" name="${label}" id="col${label}_filter" value="rent">rent</div></div>`);#}
{#            else if (label === 'sale')#}
{#                $("#search_fiels").append(`<div class="col-md-6"><input type="checkbox" class="filter_${label}" name="${label}" id="col${label}_filter" value="Commercial">Commercial</div><div class="col-md-6"><input type="checkbox" class="filter_${label}" name="${label}" id="col${label}_filter" value="Residential">Residential</div><div class="col-md-6"><input type="checkbox" class="filter_${label}" name="${label}" id="col${label}_filter" value="sale">sale</div><div class="col-md-6"><input type="checkbox" class="filter_${label}" name="${label}" id="col${label}_filter" value="rent">rent</div></div>`);#}
{#            else if (label === 'rent')#}
{#                $("#search_fiels").append(`<div class="col-md-6"><input type="checkbox" class="filter_${label}" name="${label}" id="col${label}_filter" value="Commercial">Commercial</div><div class="col-md-6"><input type="checkbox" class="filter_${label}" name="${label}" id="col${label}_filter" value="Residential">Residential</div><div class="col-md-6"><input type="checkbox" class="filter_${label}" name="${label}" id="col${label}_filter" value="sale">sale</div><div class="col-md-6"><input type="checkbox" class="filter_${label}" name="${label}" id="col${label}_filter" value="rent">rent</div></div>`);#}
{##}
{#            $("#submit").show();#}
{#          }#}
{#        });#}
{##}
{#    </script>#}
{##}
    <script>
        $(document).ready(function(){
            $(".delete").click(function() {
                var id = $(this).attr('id');
                $.ajax({
                    url: "{% url 'delete' %}",
                    data: { 'id' : id },
                    beforeSend: function(xhr) {
                        xhr.setRequestHeader("X-CSRFToken", "{{ csrf_token }}");
                    },
                    success: function(response){
                        if (response['success'] == 'success') {
                            location.reload(true);
                        }
                    }
                });
            });
        });
    </script>



    <script>
        $(document).ready(function(){
            $("#search").click(function() {
                var key = $(input[type="checkbox"])
                var id = $(this).attr('id');
                $.ajax({
                    url: "{% url 'delete' %}",
                    data: { 'id' : id },
                    beforeSend: function(xhr) {
                        xhr.setRequestHeader("X-CSRFToken", "{{ csrf_token }}");
                    },
                    success: function(response){
                        if (response['success'] == 'success') {
                            location.reload(true);
                        }
                    }
                });
            });
        });
    </script>
{#    <script>#}
{##}
{#        // Instantiate a slider#}
{##}
{##}
{#    </script>#}
{#    <script>#}
{##}
{#    </script>#}

</body>
</html>